<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}SecureWitness{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/registration/create">New Account</a></li>
            <li><a href="/registration/login">Login</a></li>
            <li><a href="/registration/logout">Logout</a></li>
            <li><a href="/registration/confirm">Profile</a></li>
            <li><a href="/groups">Groups</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/folders">Folders</a></li>
            <li><a href="/searchform">Search</a></li>
            <li><a href="/popular">Top Reports</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
