{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<p>Most Viewed Reports: </p>
{% for report in viewedreports %}
<li><a href="/reports/{{ report.pk }}">{{ report.rep_title }}</a>, views: {{report.views}}, up: {{ report.upvotecount }}, down: {{ report.downvotecount }}</li>
{% endfor %}
<p>Top Reports: </p>
{% for report in likedreports %}
<li><a href="/reports/{{ report.pk }}">{{ report.rep_title }}</a>, views: {{report.views}}, up: {{ report.upvotecount }}, down: {{ report.downvotecount }}</li>
{% endfor %}
</body>
</html>

{% endblock %}