{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% if user %}
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}
    {{ field }} <p/>
    {% endfor %}
    <input type="submit" value="Create new report" />
</form>
{% endif %}

<p>Your Reports: </p>
{% for report in reports %}
<li><a href="/reports/{{ report.pk }}">{{ report.rep_title }}</a>, views: {{report.views}}, up: {{ report.upvotecount }}, down: {{ report.downvotecount }}</li>
{% endfor %}
</body>
</html>

{% endblock %}