{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
    $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });
    </script>
</head>
<body>
 <form action="/search/" method="get">
     <p><input type="text" name="type"/> Search Users</p>
     <p><input type="text" name="type3"/> Title</p>
     <p><input type="text" name="type4"/> Short Description</p>
     <p><input type="text" name="type5"/> Detailed Description</p>
     <p><input type="text" name= type6 id="datepicker"> Report Date</p>
     <p><input type="text" name="type7"/> Keywords</p>
     <p><input type="text" name="type8"/> Filename</p>
     <p><input type="radio" name="type9" />View All Public Reports</p>
     <p><input type="submit" value="Search"></p>
 </form>
</body>
</html>
{% endblock %}