{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Search Results: </p>
{% for r in results %}
    {% if title or shortd or detaild or repd or key or file or user %}
            <li><a href="/reports/{{ r.pk }}">{{ r.rep_title }}</a></li>
                <p> {{ r.short_desc }}</p>
    {% endif %}

    {% if user %}
            <li> {{ r.username }} </li>
                <p> {{ r.email }}</p>
    {% endif %}
{% endfor %}
</body>
</html>
{% endblock %}