{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}
    {{ field }} <p/>
    {% endfor %}
    <input type="submit" name="update_report" value="Update Report" />
    <input type="submit" name="copy_report" value="Copy Report" />
</form>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
            	{{ field.label_tag }}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</body>
</html>

{% endblock %}