{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 <form action="/search/" method="get">
     <input type="radio" name="type" value="Users"/> Search Users
        <input type="radio" name="type3" value="Report1"/> Title
        <input type="radio" name="type4" value="Report2"/> Short Description
        <input type="radio" name="type5" value="Report3"/> Detailed Description
        <input type="radio" name="type6" value="Report4"/> Report Date
        <input type="radio" name="type7" value="Report5"/> Keywords
        <input type="radio" name="type8" value="Report6"/> Filename

        <input type="text" name="q">
        <input type="submit" value="Search">
 </form>
</body>
</html>


     <select>
        <option name="type" value="Users"> Search Users</option>
        <option name="type3" value="Report1"> Report Title</option>
        <option name="type4" value="Report2"> Short Description</option>
        <option name="type5" value="Report3"> Detailed Description</option>
        <option name="type6" value="Report4"> Report Date </option>
        <option name="type7" value="Report5"> Keywords </option>
        <option name="type8" value="Report6"> Filename </option>
     </select>


{% endblock %}